@import './var'

.Pagination-button, .Pagination-submit
  display: inline-block
  padding: 0 10px
  margin-right: 10px
  border: $border
  text-align: center
  line-height: 25px

  color: $normal_font_color
  font-size: $btn_font_size
  cursor: pointer

  -moz-user-select: none
  -o-user-select:none
  -webkit-user-select:none
  -ms-user-select:none
  user-select:none

.Pagination-info
  display: inline-block
  margin-right: 10px
  text-align: center
  line-height: 25px

  color: $normal_font_color
  font-size: $btn_font_size


.Pagination-input
  display: inline-block
  color: $normal_font_color
  font-size: $btn_font_size
  input
    width: 30px


// status style
.Pagination-button.active
  background-color: $active_bg_color !important
  color: $active_font_color !important
.Pagination-button.disable
  color: $disable_color
  border: $border
  cursor: not-allowed

input[type=text]:focus
  border-color: #66afe9 !important
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
  outline: 0
